/**
 * Styling for Custom Navbar Dropdown 
 */

.navbar-tray-horizontal .navbar-menu-administration ul
{
	list-style:none !important; 
	position:relative !important;
	float:left !important;
	margin:0 !important;
	padding:0 !important;
	font-family: sans-serif;
}

.navbar-tray-horizontal .navbar-menu-administration ul a
{
	display:block !important;
	text-decoration:none !important;
	line-height:39px !important;
	padding:0 15px !important;
  padding-left: 35px !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul li
{
	position:relative !important;
	float:left !important;
	margin:0 !important;
	padding:0 !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul li.current-menu-item
{
	background:#ddd !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul li:hover
{
	background:#f6f6f6 !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul ul
{
	display:none !important;
	position:absolute !important;
	top:100% !important;
	left:0 !important;
	background:#fff !important;
	padding:0 !important;
    border: 1px solid #DDDDDD !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul ul li
{
	float:none !important;
	width:200px !important;
    border: none !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul ul a
{
	line-height:120% !important;
	padding:10px 15px !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul ul ul
{
	top:0 !important;
	left:100% !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul li:hover > ul
{
	display:block !important;
}

/**
 * Catalyst Menu Icon
 */
.navbar-icon-catalyst:before {
  background-image: url("../icons/fa-flask-787878.svg");
  fill: #787878;
}
.no-svg .navbar-icon-catalyst:before {
  background-image: url("../icons/fa-flask-787878.svg");
  fill: #787878;
}

.navbar-icon-catalyst:active:before,
.navbar-icon-catalyst.navbar-active:before {
  background-image: url("../icons/fa-flask-000000.svg");
  fill: #000000;
}
.no-svg .navbar-icon-catalyst:active:before,
.no-svg .navbar-icon-catalyst.navbar-active:before {
  background-image: url("../icons/fa-flask-000000.svg");
  fill: #000000;
}

.hidden, .hide {
	display: none;
}