.ace_editor.resizable {
  margin-bottom: 0;
}

.aceresize-grippie {
  background: #eee url(grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}
